In [1]:
import bs4 as beautifulsoup

In [ ]:
team = 
soup = BeautifulSoup(html_doc, 'html.parser')

In [4]:
from nba_api.stats.static import teams
import pandas as pd
nba_teams = pd.DataFrame(teams.get_teams())
#print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970

In [5]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = pd.DataFrame(players.get_players())
#print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False