In [1]:
import bs4 as beautifulsoup

In [2]:
#team = 
soup = BeautifulSoup(html_doc, 'html.parser')

NameError: name 'BeautifulSoup' is not defined

In [11]:
from nba_api.stats.static import teams
import pandas as pd
nba_teams = pd.DataFrame(teams.get_teams())
#print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [8]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players_all = pd.DataFrame(players.get_players())
#print('Number of players fetched: {}'.format(len(nba_players)))
nba_players_all[:5]

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [12]:
#Get active only player Id's
nba_players_active = nba_players_all[nba_players_all.is_active == True]
nba_players_active[:10]

         id                 full_name first_name         last_name  is_active
10  1630173          Precious Achiuwa   Precious           Achiuwa       True
22   203500              Steven Adams     Steven             Adams       True
24  1628389               Bam Adebayo        Bam           Adebayo       True
40  1630583              Santi Aldama      Santi            Aldama       True
43   200746         LaMarcus Aldridge   LaMarcus          Aldridge       True
53  1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker       True
57  1628960             Grayson Allen    Grayson             Allen       True
58  1628386             Jarrett Allen    Jarrett             Allen       True
73  1630247        Derrick Alston Jr.    Derrick        Alston Jr.       True
75  1630631             Jose Alvarado       Jose          Alvarado       True

In [55]:
#Get player id's 
from nba_api.stats.endpoints import playercareerstats
#test call
call = playercareerstats.PlayerCareerStats(player_id=203507)
player_stats=call.get_data_frames()[0]
current_season = player_stats.SEASON_ID.iloc[-1]
player_stats_currentSeason = player_stats[player_stats.SEASON_ID == current_season]
player_stats_currentSeason

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
9,203507,2022-23,00,1610612749,MIL,27.0,3,3,102.0,42,...,0.625,4,35,39,16,2,6,12,10,108

In [45]:
from nba_api.stats.endpoints import commonplayerinfo
#test call
call = commonplayerinfo.CommonPlayerInfo(player_id=203507)
player_info = call.get_data_frames()[0]
player_info = player_info[['PERSON_ID','DISPLAY_FIRST_LAST','DRAFT_YEAR','DRAFT_ROUND','DRAFT_NUMBER','GREATEST_75_FLAG']]
player_info

,PERSON_ID,DISPLAY_FIRST_LAST,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,203507,Giannis Antetokounmpo,2013,1,15,Y