In [7]:
import pandas as pd


from nba_api.stats.static import teams
from nba_api.stats.static import players

#Get all team data
nba_teams = pd.DataFrame(teams.get_teams())

# get_players returns a list of dictionaries, each representing a player.
nba_players_all = pd.DataFrame(players.get_players())
#Filter all players to just active players
nba_players_active = nba_players_all[nba_players_all.is_active == True]

print('NBA TEAM Refrence data nba_team')
nba_teams.info()
print('*****************************************************************')
print('*****************************************************************')
print('All NBA Players')
nba_players_all.info()
print('*****************************************************************')
print('*****************************************************************')
print('Only active NBA players')
nba_players_active.info()

NBA TEAM Refrence data nba_team
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     int64
 1   full_name     30 non-null     object
 2   abbreviation  30 non-null     object
 3   nickname      30 non-null     object
 4   city          30 non-null     object
 5   state         30 non-null     object
 6   year_founded  30 non-null     int64
dtypes: int64(2), object(5)
memory usage: 1.8+ KB
*****************************************************************
*****************************************************************
All NBA Players
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4723 entries, 0 to 4722
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4723 non-null   int64
 1   full_name   4723 non-null   object
 2   first_name  4723 non-null   object
 3   last_name   4723 non-null   object
 4   is_active   4723 non-null   bool
dtypes: bool(1), int64(1), object(3)
memory usage: 152.3+ KB
*****************************************************************
*****************************************************************
Only active NBA players
<class 'pandas.core.frame.DataFrame'>
Int64Index: 587 entries, 10 to 4721
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          587 non-null    int64
 1   full_name   587 non-null    object
 2   first_name  587 non-null    object
 3   last_name   587 non-null    object
 4   is_active   587 non-null    bool
dtypes: bool(1), int64(1), object(3)
memory usage: 23.5+ KB

In [2]:
import pandas as pd

In [3]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players_all = pd.DataFrame(players.get_players())
#print('Number of players fetched: {}'.format(len(nba_players)))
nba_players_all[:5]

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [4]:
#Get active only player Id's
nba_players_active = nba_players_all[nba_players_all.is_active == True]
nba_players_active[:10]

         id                 full_name first_name         last_name  is_active
10  1630173          Precious Achiuwa   Precious           Achiuwa       True
22   203500              Steven Adams     Steven             Adams       True
24  1628389               Bam Adebayo        Bam           Adebayo       True
40  1630583              Santi Aldama      Santi            Aldama       True
43   200746         LaMarcus Aldridge   LaMarcus          Aldridge       True
53  1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker       True
57  1628960             Grayson Allen    Grayson             Allen       True
58  1628386             Jarrett Allen    Jarrett             Allen       True
73  1630247        Derrick Alston Jr.    Derrick        Alston Jr.       True
75  1630631             Jose Alvarado       Jose          Alvarado       True

In [55]:
#Get player id's 
from nba_api.stats.endpoints import playercareerstats
#test call
call = playercareerstats.PlayerCareerStats(player_id=203507)
player_stats=call.get_data_frames()[0]
current_season = player_stats.SEASON_ID.iloc[-1]
player_stats_currentSeason = player_stats[player_stats.SEASON_ID == current_season]
player_stats_currentSeason

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
9,203507,2022-23,00,1610612749,MIL,27.0,3,3,102.0,42,...,0.625,4,35,39,16,2,6,12,10,108

In [45]:
from nba_api.stats.endpoints import commonplayerinfo
#test call
call = commonplayerinfo.CommonPlayerInfo(player_id=203507)
player_info = call.get_data_frames()[0]
player_info = player_info[['PERSON_ID','DISPLAY_FIRST_LAST','DRAFT_YEAR','DRAFT_ROUND','DRAFT_NUMBER','GREATEST_75_FLAG']]
player_info

,PERSON_ID,DISPLAY_FIRST_LAST,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,203507,Giannis Antetokounmpo,2013,1,15,Y

In [26]:

from nba_api.stats.endpoints import commonplayerinfo
#Get player Ids from active player dataframe
active_player_ids = nba_players_active.id.to_list()

p = [1630173,203500,1628389]
commonInfo = pd.DataFrame()

for x in p:
    #call player info
    call_Commonplayerinfo = commonplayerinfo.CommonPlayerInfo(player_id= x)
    player_info = call_Commonplayerinfo.get_data_frames()[0]
    player_info = player_info[['PERSON_ID','DISPLAY_FIRST_LAST','DRAFT_YEAR','DRAFT_ROUND','DRAFT_NUMBER','GREATEST_75_FLAG']]
    commonInfo = pd.concat(commonInfo,player_info)
    commonInfo

/var/folders/71/8rtftxrj1njcvdvj90ttmthc0000gn/T/ipykernel_75398/3753630834.py:13: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  commonInfo = pd.concat(commonInfo,player_info)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"